# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse files
*.swp
.classpath
.project
.settings/

# IntelliJ IDEA files
*.iml
.idea/
out/

# VS Code
.vscode/

# Mac and Windows hidden files
.DS_Store
Thumbs.db
